@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Miriam+Libre&family=Roboto&family=Tenali+Ramakrishna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Mono:wght@500&display=swap');
*{
  padding: 0;
  margin: 0;
}

body{
  font-family: Merriweather;
}

.container{
  width: 60%;
  margin: auto;
}

.container h2{
  font-family: Roboto mono;
}

header p{
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: Klee one;
}

header{
  background-color: #F2F2F2;
}

header h2{
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
  height: 50px;
  font-family: roboto;
}

.objective{
  display: flex;
}

.objective h2{
  margin-right: 80px;
  margin-bottom: 60px;
  font-variant: small-caps;
  font-size: 20px;
}

.education{
  display: flex;
}

.education h2{
  margin-right: 79px;
  margin-bottom: 60px;
  font-variant: small-caps;
  font-size: 20px;
}

.experience{
  display: flex;
}

.experience h2{
  margin-right: 70px;
  margin-bottom: 60px;
  font-variant: small-caps;
  font-size: 20px;
}

.skills{
  display: flex;
}

.skills h2{
  margin-right: 104px;
  margin-bottom: 60px;
  font-variant: small-caps;
  font-size: 20px;
}

.contact{
  display: flex;
}

.contact h2{
  margin-right: 95px;
  font-variant: small-caps;
  font-size: 20px;
}

.contact a{
  text-decoration: none;
}

.vl{
  border-left: 2px solid #FFA500;
  height: 500px;
  position: absolute;
  top: 150px;
  left: 380px;
}

.hng{
  width: 250px;
}

.zuri{
  width: 250px;
}



@media screen and (max-width: 800px){
  .vl{
    display: none;
  }

  .container{
    width: 80%;
  }

  .objective p{
    padding-top: 5px;
  }

  .education ul{
    padding-top: 5px;
  }

  .experience ul{
    padding-top: 5px;
  }

  .skills ul{
    padding-top: 5px;
  }

  .contact ul{
    padding-top: 5px;
  }
}
